        <div id="content">
            <div class="container">

                <!-- <div class="col-md-3">
                    <div class="box">

                </div> -->
                <div class="alert alert-danger alert-dismissable" ng-hide="vm.isInserted">
                  <strong>Failed</strong> to add new products.</div>
                <div class="col-md-6">

                    <div class="box">
                    <h1>Add Product</h1>
                    <hr>
                   <label class="custom-file">
                        <!-- <input type="file" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" required class="custom-file-input"> -->
                        <input type="file" ngf-select ng-model="vm.picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                        <span class="custom-file-control"></span>
                    </label>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <!-- <form ng-submit="vm.addProduk()"> -->
                        <form name="addForm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" required ng-model="vm.nama">
                            </div>
                            <div class="form-group">
                                <label for="categories">Categories</label>
                                <select class="form-control" ng-model="vm.kategori" required>
                                <option value="Shirt">Shirt</option>
                                <option value="T-Shirt">T-Shirt</option>
                                <option value="Jacket&Sweater">Jacket&Sweater</option>
                                <option value="Batik">Batik</option>
                                <option value="Suit">Suit</option>
                                <option value="Dress">Dress</option>
                                </select>
                            </div>
                            <label for="price">Quantity</label>
                            <div class="form-group">
                                <input type="number" class="form-control input-number" ng-model="vm.stok"  data-min="0" required>
                            </div>

                           <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" class="form-control" ng-model="vm.harga" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="5" ng-model="vm.deskripsi"></textarea required>
                            </div>
                            <div class="text-right">
                                <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                                <button class="btn btn-primary" ng-disabled="!addForm.$valid" ng-click="vm.addProdukWithImage(vm.picFile)">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12" id="update">

                    <div class="col-md-6" id="foto produk">


                    </div>
                </div>

            </div>

        </div>
