        <div id="content">
            <div class="container">

<!--                 <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Payment</a>
                        </li>
                    </ul>
                </div> -->

                <div class="col-md-12" id="basket">

                    <div class="box">

                        <form method="post" action="checkout1.html">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id Transaction</th>
                                            <th >Consument's Name</th>
                                            <th >Address</th>
                                            <th>Consument's phone number</th>
                                            <th>Status</th>
                                            <th>Verification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tbody>
                                        <tr ng-repeat="transaksi in vm.transaksi">
                                            <td>{{$index+1}}</td>
                                            <td >Mr x</td>
                                            <td >Tubagus Street</td>
                                            <td>08765556567</td>
                                            <td >{{transaksi.status}}</td>
                                            <td><a ng-click="vm.changeStatus(transaksi)"><i class="fa fa-check"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">

                                <!-- <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Next<i class="fa fa-chevron-right"></i>

                                    </button>

                                </div>

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary"> <i class="fa fa-chevron-left"></i> Back
                                    </button>
                                </div> -->



                        </form>

                    </div>
                    <!-- /.box -->



                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
