        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Product</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12" id="basket">

                    <div class="box">

                            <h1>Product</h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th colspan="5">Product</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat = "produk in vm.produks">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <a href="#">
                                                    <img src="img/detailsquare.jpg" alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td colspan="4"><a ui-sref="detail">{{produk.nama}}</a>
                                            </td>

                                            <td><a ng-click="vm.updateProduk(produk.id)"><i class="fa fa-pencil-square-o"></i></a>
                                            </td>

                                            <td><a ng-click="vm.deleteProduk(produk)"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">

                                <div class="pull-left" >
                                    <button type="submit" class="btn btn-primary" ui-sref='addProduct'>Add Product
                                    </button>
                                </div>

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Next<i class="fa fa-chevron-right"></i>

                                    </button>

                                </div>

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary"> <i class="fa fa-chevron-left"></i> Back
                                    </button>
                                </div>

                    </div>
                    <!-- /.box -->



                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
